body {
  background-color: aquamarine;
}
h1 {
  color: #ff1493;
  text-align: center;
}
h2 {
  background-color: slateblue;
  text-align: center;
  color: white;
}
p {
  background-color: white;
  padding: 5px;
}

.link {
  color: red;
}
.link:hover {
  border-style: outset;
  border-color: blueviolet;
  color: white;
  background-color: blueviolet;
}
