h1 {
  color: #ff1493;
  text-align: center;
  justify-content: center;
}

h2 {
  background-color: #993399;
  text-align: center;
  color: white;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  background-color: #cca9dd;
  border-bottom: red 2px solid;
  border-left: #993399 5px solid;
  padding-right: 15px;
}
li:hover {
  border-style: outset;
  border-color: blueviolet;
  background-color: blueviolet;
}
p {
  margin: 0;
  text-indent: 5ch;
  background-color: white;
  padding-left: 5px;
}

.link {
  color: #993399;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.lorem {
  text-indent: 5ch;
  color: #993399;
  font-weight: bold;
  font-size: large;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header "
    "menu main "
    "menu footer ";
  background-color: aquamarine;
  margin: 0%;
}
